@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
  font-family: 'Rubik', sans-serif;

  --zano-gray: hsla(0, 0%, 60%, 1);
  --zano-gray-light1: hsla(0, 0%, 80%, 1);
  --animation-speed-05x: 1s;
  --animation-speed-1x: 0.5s;
  --animation-speed-2x: 0.2s;
}

body {
  margin: 0;
}

/* #vue-app {
  width: 100%;
  height: 100vh;
} */

.fade-enter-from {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active {
  transition: opacity 0.2s ease-in;
}
.fade-leave-from {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}
.fade-leave-active {
  transition: opacity 0.2s ease-in;
}

button {
  background-color: hsla(0, 50%, 100%, 0.9);
  border: 0.1rem solid var(--zano-gray);
  border-radius: 0.1rem;
  padding: 0.2rem 0.4rem;
}

.oi {
  width: 16px;
  height: 16px;
}
